/********* FONT **********/
@font-face{
    font-family: "Regular 400";
    src: 
    local("Regular 400"),
    url("../Font/fa-regular-400.ttf") format(ttf),
    url('../Font/fa-regular-400.woff2') format(woff);
}
@font-face {
    font-family: "Geo";
    src: local("Geo"),
    url("../Font/Geo/Geo-Regular.ttf");
}
@font-face {
    font-family: "iceland";
    src:local("iceland"),
    url("../Font/Iceland/Iceland-Regular.ttf");
}
/****** FONT ************/


html{
    width: 100%;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}
nav{
    background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
}
#nav #menu{
    margin-bottom: 10px;
    padding: 0;
}
#menu img{
    width: 100%;
    height: 100%;
}
/* ************************************* */
/* ******************Langue******************* */
#langue{
    display: block;
}
.langue{
    width: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
select{
    background-color: transparent;
    border: 0;
    color: white;
}
option{
    color: black;
}
#langue option:checked{
    color: white;
    background-color: rgb(20, 20, 20);
}
#langue option a:hover{
    color: rgb(68, 199, 28);
    background-color: rgb(199, 30, 185);
}
/* ****************** Fin Langue ******************* */

nav .centre{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav .centre h1{
    margin: 0;
    text-align: center;
    /* font-family: "Geo"; */
    font-family: "iceland";
    font-size: 100px;
}
nav .centre .link{
    display: flex;
    justify-content: space-between;
    flex: end;
    width: 100%;
}
nav .centre .link a{
    color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}
nav .centre .link a:hover{
    color: black;
    background-color: white;

}
/* ****************************** Bouton i ****************************** */
#boite-dialogue{
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 250px;
    background-color: rgb(36, 36, 36);

    /* Comportement modale */
    position: fixed;
    bottom: 1vh;
    right: 0vw;
    transform: translate(-50%, -50%);

    margin-top: 20px;
}
#boite-dialogue.visible{
    margin-top: 0;
}
#message{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#message p{
    font-size: x-large;
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}
#message img{
    width: 25px;
    height: 25px;
    display: flex;
    justify-items: center;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: black;
}
/******************************* Bouton i *******************************/
#simulateurCouleur{
    min-height: 85vh;
    margin: 0;
}
h1, h2{
    text-align: center;
}
#simulateurCouleur h2{
    margin-top: 2vh;
    margin-bottom: 2vh;
}
p{
    padding-left: 1%;
    padding-right: 1%;
}
#add{
    display: flex;
    flex-direction: column;
    width: 5%;
    height: 10%;
    margin-right: 30px;
    margin-top: 80px;
    float: right;
}
#add button{
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
}
#add button img{
    width: 100%;
}
#add a{
    text-decoration: none;
    color: black;
}
.simuCouleur #add{
    display: flex;
    justify-content: center;
}
strong{
    font-size: large;
}
.simuCouleur{
    display: flex;
    justify-content: space-around;
}
.couleurP{
 display: flex;
 flex-direction: column;
 gap: 5px;
 width: 139px;
 height: 15vh;
}
.btnsuppr{
    height: 25vh;
    width: 139px;
}
/* input[type="color"]:hover{

} */
input[type="text"]{
    margin: 0;
    width: 100%;
}
#palette-1, #palette-2, #palette-3, #palette-4{
    border: 1px solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0;
    width: 100%;
    height: 117.5px;
    padding: 0;

}
.daltonisme{
    width: 100%;
    height: 100%;
    border-color: rgb(0, 0, 0);
}
.daltonisme:hover{
    transform: scale(1.1);
}
#palette-1::-webkit-color-swatch, #palette-2::-webkit-color-swatch, #palette-3::-webkit-color-swatch, #palette-4::-webkit-color-swatch,
#palette-5::-webkit-color-swatch, #palette-6::-webkit-color-swatch{
  border-color: transparent;
}
#palette-1{
    background-color: #FF00FF; 
}
#palette-2{
    background-color: #ff0000; 
}
#palette-3{
    background-color: #00ff00;
}
#palette-4{
    background-color: blue;
}
#couleurInput-1, #couleurInput-2, #couleurInput-3, #couleurInput-4{
    width: 99%;
    border: 1px solid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    padding: 0;
}

#myRange{
    accent-color: rgb(0, 0, 0);
}
#rangeImg{
    accent-color: white;
}
#myRange, #rangeImg{
    background-color: black;
    cursor: grab;
    margin: 0;   
    height: 7px;
    width: 100%;
}
#myRange:active, #rangeImg:active{
    cursor: grabbing;
}
.colonne{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100%;
}
.colonne p{
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
}
.colonne .range-container {
    position: relative;
    width: 80%;
    align-content: center;
}
.colonne .range-container #test {
    position: absolute;
    top: 0px;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
    color: #333;
    pointer-events: none; 
    /* Evite l'interaction avec la valeur */
    z-index: 10;
}
.colonne2{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.colonne2 button{
    border: none;
}
.colonne2 button:active{
    background-color: #ff0000;
}
.colonne2 img{
    width: 50px;
}
.colonne2 #fleche_gauche{
    transform: rotate(90deg);
}
.colonne2 #fleche_droite{
    transform: rotate(-90deg);
}
#correctionCouleur{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

/* **************************** */
.couleur_colonne{
    display: flex;
    justify-content:space-around;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    
}
.Deuteranope .h4, .Tritanope .h4, .Protanope .h4{
    display: flex;
    justify-content: center;
}
.Protanope, .Tritanope, .Deuteranope{
    width: 25%;
    border: 1px solid ;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.couleur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 300px;
}
.colonne label{
    display: flex;
    justify-content: center;
}
/* *********************************************************************************** */
/* ------------------------------------- Couleur ------------------------------------- */
/* *********************************************************************************** */

#protanope-1, #tritanope-1, #deuteranope-1, /* -- Palette 1 -- */
#protanope-2, #tritanope-2, #deuteranope-2, /* -- Palette 2 -- */
#protanope-3, #tritanope-3, #deuteranope-3, /* -- Palette 3 -- */
#protanope-4, #tritanope-4, #deuteranope-4{ /* -- Palette 4 -- */
    width: 100%;
    height: 100%;
    border-color: rgb(0, 0, 0);
}

#protanope-1:hover, #tritanope-1:hover, #deuteranope-1:hover,   /* -- Palette 1 -- */
#protanope-2:hover, #tritanope-2:hover, #deuteranope-2:hover,   /* -- Palette 2 -- */
#protanope-3:hover, #tritanope-3:hover, #deuteranope-3:hover,   /* -- Palette 3 -- */
#protanope-4:hover, #tritanope-4:hover, #deuteranope-4:hover{   /* -- Palette 4 -- */
    transform: scale(1.1);
}

/* *********************************************************************************** */
/* ------------------------------------- Simulateur image ------------------------------------- */
/* *********************************************************************************** */

#simulateurImage{
    min-height: 50vh;
    margin-top: 1%;
    padding-bottom: 2%;
    background-color: black;
    color: white;
}
#simulateurImage h2{
    margin: 0;
    padding-top: 2vh;
    margin-bottom: 2vh;
}
#ImgDl{
    width: 10%;
}
#imgOrigine{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
    background-color: darkgray;
}

/* ***************** Drag and Drop ***************** */
.hero{
    width: 100%; 
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#drop-area{
    width: 60%;
    height: auto;
    align-items: center;
    border-radius: 20px;
}
#img-view, #img-views{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}
input[type="file"]{
    position: fixed;
    display: none;
}
#img-view img, #img-view canvas{
    height: 100%;
    height: auto;
    border-radius: 20px;
    padding: auto;
    display: flex;
    justify-content: center;
}
#img-view p{
    display: block;
    font-size: 12px;
    color: #777;
}
#img-view span{
    display: block;
    font-size: 12px;
    color: #777;
}
/* ***************** Drag and Drop ***************** */
.btn{
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    width: 80%;
    height: 5vh;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
#btnProtanope, #btnTritanope, #btnDeutéranope{
    width: 25%;
    height: 5vh;
    font-size: 24px;
    border: none;
    border-radius: 5px;
}
#btnProtanope:active, #btnTritanope:active, #btnDeutéranope:active{
    box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.colonneImage{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 60%;
}
.colonneImage .colonne{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 100%;
}
.colonneImage .colonne p{
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
}
.colonneImage .colonne .range-containerImg {
    position: relative;
    width: 80%;
    align-content: center;
}
.colonneImage .colonne .range-containerImg #chiffre {
    position: absolute;
    top: 0px;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    pointer-events: none; 
    /* Evite l'interaction avec la valeur */
    z-index: 10;
}
.colonne2{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.colonne2 button{
    border: none;
    background-color: transparent;
}
.colonne2 button:active{
    background-color: #ff0000;
}
.colonne2 button img{
    width: 40px;
}
.colonne2 #fleche_gauche_Img{
    transform: rotate(90deg);
}
.colonne2 #fleche_droite_Img{
    transform: rotate(-90deg);
}
#correctionImg{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.colonneImage datalist option{
    color: white;
}
#imageDaltonnisme{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
    height: auto;
    background-color: darkgray;
}
#paragraphe{
    min-height: 40vh;
    background-color: rgb(221, 221, 221);
    padding: 1%;
    margin: 0;
}
/* *************** footer **************** */
footer{
    background-color: rgb(36, 36, 36);
    padding: 10px;
    height: 10vh;
}
@media screen and (max-width: 900px) {/* Tablette */
    nav .centre h1{
        margin-top: 2vh;
        font-size: 60px;
        align-content: center;
    }
    a{
        font-size: 16px;
    }
    #add{
        display: none;
    }
    .btn #btnProtanope, .btn #btnTritanope, .btn #btnDeutéranope{
        font-size: 16px;
    }
}
@media screen and (max-width:600px) {
    nav .centre h1{
        margin-top: 2vh;
        font-size: 55px;
        align-content: center;
    }
    .simuCouleur{
        margin-bottom: 2vh;
    }
    .couleurP{
        width: 110px;
        height: 110px;
    }
    #palette-1, #palette-2, #palette-3, #palette-4, #palette-5, #palette-6{
        height: 110px;
    }
    #couleurInput-1, #couleurInput-2, #couleurInput-3, #couleurInput-4{
        width: 108px;
    }
}
@media screen and (max-width: 500px) {/* Telephone */
    nav, #nav, .nav{
        padding: 5px;
        padding-bottom: 0;
    }
    nav .centre{
        width: 65%;
    }
    nav .centre h1{
        font-size: 40px;
        align-content: center;
    }
    nav #menu, 
    nav .langue{
        width: 50px;
        margin-bottom: 5px;

    }
    a{
        font-size: 9px;
    }
    nav .langue #langue {
        font-size: 10px;
    }
    .simuCouleur{
        justify-content: space-around;
        width: 100%;
        height: 15vh;
    }
    #add{
        display: none;
    }
    #add{
        margin-right: 5px;
        width: 25px;
    }
    #add button{
        padding: 0;
    }
    #add button img, #add button{
        height: 25px;
        width: 25px;
    }
    h4{
        font-size: 10px;
    }
    .couleurP{
        width: 90px;
        height: 90px;
    }
    #palette-1, #palette-2, #palette-3, #palette-4, #palette-5, #palette-6{
        height: 90px;
    }
    #couleurInput-1, #couleurInput-2, #couleurInput-3, #couleurInput-4{
        width: 88px;
    }
    .simuCouleur .couleurP .delete-btn{
        padding: auto;
        text-align: center;
        font-size: 9px;
    }
    .btn #btnProtanope, .btn #btnTritanope, .btn #btnDeutéranope{
        height: 30px;
        font-size: 12px;
    }
}